# IDE
.idea/
.grunt
node_modules
bower_components
*.sublime-workspace
sftp-config.json

# FED
package-lock.json

# Wordpress Core
gc-audit/
wp-admin/
wp-admin/*.php
wp-includes/
wp-includes/*.php
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
/readme.html
/license.txt
/*.php
/wp-content/themes/*
/wp-content/plugins/*
/wp-content/index.php
/wp-content/languages/*
/wp-content/upgrade

# Themes whitelist
!/wp-content/themes/test-theme

# Custom theme excludes
/wp-content/themes/test-theme/assets

# Plugins whitelist
!/wp-content/plugins/wp-toolkit

# Other whitelist
!/wp-content/uploads
