.logo {
  &--big {
    width: rem-calc(160);

    @include media-breakpoint-up(lg) {
      width: rem-calc(300);
    }
  }
  &--medium {
    width: rem-calc(160);
  }

  &--small {
    height: rem-calc(35);
  }

  &--black {
    filter: invert(0.9);
  }
}
