.hero-banner {
  position: relative;

  &__title {
    font-size: $font-size-sm;
    margin-bottom: rem-calc(5);

    @include media-breakpoint-up(lg) {
      font-size: $h3-font-size;
    }

    &--big {
      font-size: $font-size-base;
      @include media-breakpoint-up(lg) {
        font-size: $h2-font-size;
      }
    }
  }

  &__content {
    @include media-breakpoint-up(xl) {
      padding-top: 8%;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    @include media-breakpoint-up(500px) {
      object-fit: cover;
    }

    @include media-breakpoint-up(lg) {
      height: calc(100% + #{$ticker-height});
    }
  }

  &__nav {
    position: absolute;
    right: rem-calc(40);
    top: 50%;
    transform: translateY(-50%);
    align-items: center;
    height: 100%;
    font-size: rem-calc(13);
    font-family: $font-family-secondary;

    ul {
      font-weight: $font-weight-bold;
      margin-right: rem-calc(35);
    }

    li {
      margin-bottom: rem-calc(35);
    }

    a {
      color: $white;
      display: flex;
      align-items: center;
      transition: color .2s ease-in;

      &::after {
        content: '';
        height: rem-calc(10);
        width: rem-calc(10);
        background: $white;
        border-radius: 50%;
        position: absolute;
        right: rem-calc(-5);
      }

      &:hover {
        &::after {
          background: var(--primary);
          animation-name: pulse;
          animation-duration: .5s;
        }
      }
    }

    &::before {
      content: '';
      height: 100%;
      width: rem-calc(1);
      background: rgba($white, 0.35);
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}
